:root {
	--card-color-light: #fcfcfc;
	--card-color-dark: #faf3f3;
	--card-color-shadow: #dfdfdf;

	--text-small: 24pt;
	--text-weather: 16px;

	--border-radius: 40px;
	--shadow-distance: 5px;
}

body {
	background: var(--card-color-light);
}

.abs {
	position: absolute;
}

.emoji-scale-large {
	transform: scale(14);
}

.emoji-scale-small {
	transform: scale(1.4);
}

.m-number {
	margin-left: 10px;
}

.text-small {
	font-size: var(--text-small);
}

.text-weather {
	font-size: var(--text-weather);
}

.bg-dark {
	background: var(--card-color-dark);
}

.bg-light {
	background: var(--card-color-light);
}

.mono {
	font-family: monospace;
}

.sans {
	font-family: sans-serif;
}

.container {
	position: relative;
	margin: 20px;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.center {
	justify-content: center;
	align-items: center;
}

.neu {
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-distance) var(--shadow-distance) 20px
			var(--card-color-shadow),
		calc(var(--shadow-distance) * -1) calc(var(--shadow-distance) * -1) 20px
			#ffffff;
}
