.app {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
}

.flex {
  display: flex;

  border: 1px solid red;
}

.center {
  justify-content: center;
  align-items: center;
}

.weather-wrap {
  flex-direction: row;
}

.time {
  font-size: 20pt;
}

.weather {
  font-size: 80pt;
  width: 70%;
}

.number-wrap {
  flex-direction: column;
  width: 30%;
}

.temp {
  font-size: 20pt;
  height: 50%;
}

.rain {
  font-size: 20pt;
  height: 50%;
}
