body {
	background: #f6f6f6;
	font-family: sans-serif;
}

.app {
	height: 100%;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.containers {
	display: flex;
	flex-direction: row;
	height: 600px;
}

.container {
	flex-direction: column;
	width: 400px;
	height: 100%;
	margin: 10px;
}

.flex {
	display: flex;

	flex-shrink: 0;
}

.center {
	justify-content: center;
	align-items: center;
}

.time {
	font-size: 20pt;
	width: 50%;
	height: 8%;
}

.round {
	border-radius: 50px;
	background: #f6f6f6;
	box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
}

.weather {
	text-align: center;
	word-break: keep-all;

	font-size: 100pt;
	width: 100%;
	height: 72%;
}

.number-wrap {
	flex-direction: row;
	width: 100%;
	height: 20%;
}

.temp {
	font-size: 20pt;
	width: 50%;
}

.rain {
	font-size: 20pt;
	width: 50%;
}

#update {
	margin: 20px;
}
